* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Common Tags */

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

button:hover {
    font-weight: bold;
}

img {
    max-width: 100%;
}

label {
    font-weight: bold;
}

li {
    margin-right: 0.75rem;
}

nav {
    margin-bottom: 1rem;
}

ul {
    list-style: none;
}


/* Classes */

.crisp_image_mix {
    width: 100%;
    max-width: 820px;
}

.img-thumbnail {
    max-width: 250px;
}

.navbar {
    border-radius: 5px;
    justify-content: space-around;
    padding: 0.5rem;
}

.navbar a:hover {
    font-weight: bold;
}

.potatoSearch {
    width: 250px;
}

/* Keyframes */

/* Media Queries */

@media(max-width: 960px) {
    nav {
        font-size: 1.5rem;
    }

    .crisp_image_mix {
        display: none;
    }
}

@media(max-width:768px) {
    .index-list div {
        width: 100%;
    }
}

@media(min-width: 1440px) {}
