* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Common Tags */

a {
    text-decoration: none;
}

button:hover {
    font-weight: bold;
}

img {
    max-width: 100%;
}

label {
    font-weight: bold;
}

li {
    margin-right: 0.75rem;
}

ul {
    list-style: none;
}

/* Paginaiton */
nav .hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between>div:nth-child(1)>p {
    margin-top: 1.25rem;
}

nav>div.hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between>div:nth-child(2) {
    display: none;
}

/* Classes */
.navbar {
    background-color: hsl(60, 80%, 47%);
    border-radius: 5px;
    padding: 0.5rem;
}

.potatoSearch {
    width: 250px;
}

/* Keyframes */

/* Media Queries */

@media(max-width: 960px) {}

@media(max-width:768px) {}

@media(min-width: 1440px) {}
