* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Common Tags */

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

label {
    font-weight: bold;
}

li {
    margin-right: 0.75rem;
}

ul {
    list-style: none;
}

/* Classes */
.navbar {
    background-color: hsl(60, 80%, 47%);
    border-radius: 5px;
    padding: 0.5rem;
}


/* Keyframes */

/* Media Queries */

@media(max-width: 960px) {}

@media(max-width:768px) {}

@media(min-width: 1440px) {}
