* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Common Tags */

a {
    text-decoration: none;
}

button {
    border-radius: 5px;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

/* Classes */

/* Keyframes */

/* Media Queries */

@media(max-width: 960px) {}

@media(max-width:768px) {}

@media(min-width: 1440px) {}
